body {
  background-image: url('dragon.jpeg');
  background-size:contain;
  color: aliceblue;
}

/* GRID */
.header {
  display: flex;
  grid-area: header;
  height: 100%;
  margin-left: 10%;
}

.search-by-name {
  display: flex;
  grid-area: search-by-name;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: bold;
}

.main-container {
  display: flex;
  grid-area: main;
  height: 100%;
  display: grid;
  grid-template-areas: 
  'search-by-name search-by-name'
  'monster-list monster-details';
  grid-template-columns: 40% 60%;
}

.monster-list {
  grid-area: monster-list;
  display: flex;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  list-style-type: none;
  background-image: url('red.png');
  width: 64%;
  border-radius: 20%;
  cursor: pointer;
  color: rgb(219, 196, 166);
}

.monster-details {
  grid-area: monster-details;
  display: flex;
  height: 100%;
  display: grid;
  grid-template-areas: 
  'details details';
  margin-right: 10%;
}

.image {
display: flex;
grid-area: image;
border-style: double;
border-width: 5px;
border-color: brown;
margin-right: 5%;
}

.stats {
  display:flex;
  grid-area: stats;
  list-style: none;
  flex-direction: column;
  gap: 15px;
  align-items: left;
  justify-content: center;
}

.details {
  display: flex;
  grid-area: details;
  background-color: rgba(24, 23, 23, 0.957);
  border-radius: 10%;
  padding: 5%;
  width: 90%;
  display: grid;
  grid-template-areas: 
  'stats image';
}

.footer {
  display: flex;
  grid-area: footer;
  height: 100%;
  margin-left: 30%;
  margin-bottom: 20%;
  align-items: center;
  font-weight: bold;
  color: brown;
}

.body{
  display: grid;
  grid-template-areas: 
  'header header'
  'main main'
  'footer footer';
  width: 100%;
  height: 100%;
}

/* BUTTONS */

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button-previous {
  width:fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  border-radius: 3px;
  cursor: pointer;
  border-color: white;
  border-style: outset;
  background-color: rgb(250, 238, 223);
}

.button-previous:hover{
  border-style: inset;
  background-color: white;
}

.button-next {
  width: 20%;
  height:fit-content;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  border-color: white;
  border-style: outset;
  margin-left: 1%;
  background-color: antiquewhite;
}

.button-next:hover{
  border-style: inset;
  background-color: white;
}

.button-search {
  cursor: pointer;
  border-style: outset;
  background-color: grey;
  border-radius: 3px;
  border-color: rgb(85, 85, 85);
  margin-left: 0.5%;
  height: 108%;
  width: 6%;
  color: black
}

.button-search:hover {
  cursor: pointer;
  border-style: inset;
  background-color: rgb(84, 84, 84);
}

.input {
  margin-left: 1%;
}

.music-click {
  margin-left: 50%;
  margin-top: 2%;
  cursor: pointer;
  display: flex;
}



