body {
  background-color: black;
  color: aliceblue;
}

/* GRID */
.header {
  display: flex;
  grid-area: header;
}

.main-container {
  display: flex;
  display: grid;
  grid-template-areas: 
  'monster-list monster-details';
  grid-area: main;
}


.footer {
  display: flex;
  grid-area: footer;
}

.body{
  display: grid;
  grid-template-areas: 
  'header header'
  'main main'
  'footer footer';
}